.swiper-button-prev,
.swiper-button-next {
  color: #ffba08 !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #ffba08 !important;
}
.swiper-pagination-bullet {
  background: #999999 !important;

}
